<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbk.locallib.member.dao.UpdateMapper">

<update id="updateUser" parameterType="member">
update 
	user_info
set
	pw = #{pw}
	,phone = #{phone}
	,postcode = #{postcode}
	,addr1 = #{addr1}
	,addr2 = #{addr2}
	,email = #{email}
	,nickname = #{nickname}
	,birthday = #{birthday}
	,gender = #{gender}
where
	user_id = #{user_id}

</update>

</mapper>
